FLASK_APP=project/__init__.py
FLASK_DEBUG=1
FLASK_ENV=dev
SECRET_KEY=replace_me
DATABASE_URL=replace_me
APP_SETTING=os.get
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
POSTGRES_USER=replace_me
POSTGRES_PASSWORD=replace_me
POSTGRES_DB=replace_me
APP_FOLDER=replace_me
