<ion-view view-title="Discover" class="discover-page">
  <ion-content scroll="false">


    <div class="list card current-apartment" ng-class="{skipped: currentApartment.rated == false, favorited: currentApartment.rated == true}" ng-show="currentApartment && !currentApartment.hide">

      <div class="item item-image">
        <img ng-src="{{ currentApartment.image_large }}">
      </div>

      <div class="item">
        <h2>{{ currentApartment.name }} <span ng-hide="currentApartment.loaded"><i class='ion-loading-c'></i></span></h2>
        <p>{{ currentApartment.description }}</p>
      </div>
<!--       send feedback -->
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="sendFeedback(false)">
          <i class="icon ion-close"></i>
          Skip
        </a>
        <a class="tab-item" ng-click="sendFeedback(true)">
          <i class="icon ion-heart"></i>
          Favorite
        </a>
      </div>


  </ion-content>
</ion-view>