
<ion-view view-title="Favorites" class="favorites-page">
  <ion-content>

    <ion-list>
      <ion-item ng-repeat="apartment in favorites" class="item-avatar" ng-click="openApartment(apartment)">
        <img ng-src="{{ apartment.image_small }}">
        <h2>{{ apartment.title }}</h2>
        <p>{{ apartment.artist }}</p>

        <ion-option-button class="button-assertive" ng-click="removeApartment(apartment, $index)">
          <i class="ion-minus-circled"></i>
        </ion-option-button>    
      </ion-item>
    
    </ion-list>
    

  </ion-content>
</ion-view>