	  $scope.apartments = [
     {
        "name":"Whitley",
        "description":"Luxury",
//         "Address":"301 Brazos St
// Austin, TX  78701",
        "image_small":"http://s3-media4.fl.yelpcdn.com/bphoto/QEbK7NE8sUnr4cbC6TUxqg/ls.jpg",
        "image_large":"http://cdn11.g5search.com/assets/283943/huge-roof-top-terrace-and-swimming-pool-at-apartments-in-austin.jpg?1407280878"
     },
     {
        "name":"AMLI Downtown",
        "description":"Luxury",
        // "Address":"201 Lavaca St, Austin, TX 78701"

        "image_small":"http://www.amli.com/AMLIContent/Files/apartments/austin/300/apartment-interior/300-apartment-interior-living-room1.jpg.ashx??w=320&h=237",
        "image_large":"http://www.benkendorfer-associates.com/_assets/img/work/multifamily/AmliDowntown-1.jpg"
     },
     {
        "name":"The Catherine",
        "description":"Luxury",
        // "Address":"214 Barton Springs Road, TX 78704"

        "image_small":"http://thecatherineaustin.com/assets/images/rendering-wide.jpg",
        "image_large":"http://thecatherineaustin.com/assets/images/rendering-wide-2.jpg"
     }
  ];